html, body, #write{background: #101010; font-family: "Montserrat", sans-serif; font-weight: 400; font-size:1rem;}

h1, h2, h3, h4, h5, h6 {color: #e11141; font-weight:700; text-transform:uppercase}
h1 {
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}
h1{font-size:3rem;}
h2{font-size:2.75rem;}
h3{font-size:2.25rem;}
h4{font-size:2rem;}
h5{font-size:1.75rem;}
h6{font-size:1.5rem;}

#write { max-width: 900px;}

#write>h1:first-child {margin-top: 2.75rem;}
#write>h2:first-child {margin-top: 1.75rem;}
#write>h3:first-child {margin-top: 1rem;}
#write>h4:first-child {margin-top: 0.5rem;}

p {color: #f5f5f5; font-size: 1rem; line-height: 1.6rem;}

a, .md-def-url {color: #e11141; text-decoration: none;}
a:hover {text-decoration: underline;}

table {margin-bottom: 20px}
table th, table td {padding: 8px; line-height: 1.25rem; vertical-align: top;border-top: 2px solid #303030}
table th {font-weight: bold}
table thead th {vertical-align: bottom}

table caption+thead tr:first-child th, table caption+thead tr:first-child td, table colgroup+thead tr:first-child th, table colgroup+thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {border-top: 0;}
table tbody+tbody {border-top: 2px solid #d0d0d0}

code, .md-fences {font-family:"Share Tech Mono", monospace; padding: .5em; background: #e0e0e0; padding: .1em; font-size: 0.9em; margin-left: 0.2em; margin-right: 0.2em;}
.md-fences {font-size:1rem; margin: 0 0 20px; padding: 0.3em 1em; padding-top: 0.4em;}

.task-list{padding-left: 0;}
.task-list-item {padding-left:2rem;}
.task-list-item input {top: 3px;}
.task-list-item input:before {content: "";display: inline-block; width: 1rem; height: 1rem; vertical-align: middle; text-align: center; border: 1px solid gray; background-color: #101010; margin-left: 0; margin-top: -0.5rem;}
.task-list-item input:checked:before,
.task-list-item input[checked]:before{content: '\25FC'; font-size: 0.8125rem; line-height: 0.9375rem; margin-top: -1rem;}

blockquote {
	margin: 0 0 1.11111rem;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
	border-left: 2px solid #e11141;
}
blockquote, blockquote p {line-height: 1.6; color: #f5f5f5;}
#write pre.md-meta-block {
min-height: 30px;
background: #f8f8f8;
padding: 1.5em;
font-weight: 300;
font-size: 1em;
padding-bottom: 1.5em;
padding-top: 3em;
margin-top: -1.5em;
color: #c0c0c0;
border-left: 1000px #0a0a0a solid;
margin-left: -1000px;
border-right: 1000px #0a0a0a solid;
margin-right: -1000px;
margin-bottom: 2em;
}
.MathJax_Display {
	font-size: 0.9em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
p.mathjax-block,
.mathjax-block {
	padding-bottom: 0;
}
.mathjax-block>.code-tooltip {
	bottom: 5px;
	box-shadow: none;
}
.md-image>.md-meta {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.md-image>img {
	margin-top: 2px;
}
.md-image>.md-meta:first-of-type:before {
	padding-left: 4px;
}

#typora-source {
	color: #a0a0a0;
}
