/*
Benjistokman Typora & Basic CSS Theme (Print)
5.1

Created by Ben Stokman
ben.stokman@protonmail.com
*/

/*	==============================================
	0: Root Variables & Reset
	============================================== */

/* 0.1: Font Import */
@font-face {font-family: 'Crimson Pro'; font-style: normal; font-weight: 400; src: url('./benjistokman/crimsonpro.ttf') format('truetype');}
@font-face {font-family: 'Crimson Pro'; font-style: italic; font-weight: 400; src: url('./benjistokman/crimsonpro400i.ttf') format('truetype');}
@font-face {font-family: 'Crimson Pro'; font-style: normal; font-weight: 700; src: url('./benjistokman/crimsonpro700.ttf') format('truetype');}
@font-face {font-family: 'Crimson Pro'; font-style: italic; font-weight: 700; src: url('./benjistokman/crimsonpro700i.ttf') format('truetype');}
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url('./benjistokman/montserrat400.ttf') format('truetype');}
@font-face {font-family: 'Montserrat'; font-style: italic; font-weight: 400; src: url('./benjistokman/montserrat400i.ttf') format('truetype');}
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: url('./benjistokman/montserrat700.ttf') format('truetype');}
@font-face {font-family: 'Montserrat'; font-style: italic; font-weight: 700; src: url('./benjistokman/montserrat700i.ttf') format('truetype');}
@font-face {font-family: 'Share Tech Mono'; src: url('./benjistokman/share-tech-mono.ttf') format('truetype');}
@font-face {font-family: 'Odibee Sans'; font-style: normal; font-weight: 400; src: url('./benjistokman/odibee-sans400.otf') format('opentype');}
@font-face {font-family: 'Odibee Sans'; font-style: normal; font-weight: 700; src: url('./benjistokman/odibee-sans700.otf') format('opentype');}

@include-when-export url('https://fonts.benstokman.me/montserrat.css');
@include-when-export url('https://fonts.benstokman.me/share-tech-mono.css');
@include-when-export url('https://fonts.benstokman.me/odibee-sans.css');

/* 0.2: Other */

:root {
	--theme-color: #000000;
	--bg-color: #ffffff;
	--softer-bg-color: #eaeaea;
	--text-color: #000000;
	--context-color: #ffffff;
	--code-background-color: #dadada;
	--title-font: 'Odibee Sans', sans-serif;
	--title-weight: 400;
	--body-font: 'Crimson Pro', serif;
	--ui-font: 'Montserrat', sans-serif;
	--ui-font: var(--body-font);
	--monospace-font: 'Share Tech Mono', monospace;
	--font-size-orig: 1.15rem;
	--font-size: var(--font-size-orig);
	/* Typora exclusive stuff */
	--main-content-max-width: 800px;
	--md-char-color: var(--theme-color);
	--meta-content-color: var(--theme-color);
	--active-file-text-color: inherit;
	--active-file-border-color: var(--body-color);
	--monospace: var(--monospace-font);
	--rawblock-edit-panel-bd: var(--bg-color);
}

@media print {
	:root {
		--theme-color: #000000;
		--font-size-orig: 1rem;
	}
}

html {
	margin: 0;
	padding: 0;
}

/*	==============================================
	1: Fonts
	============================================== */

html {
	font-size: var(--font-size);
	font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	line-height: 1;
}

h1 {
	border-left: 4px solid var(--text-color);
	padding-left: 8px;
}

/* Typora is a real asshole somtimes */
h2 {
	box-shadow: -0.15em 0 0 var(--text-color), 0.15em 0 0 var(--text-color);
	background-color: var(--text-color);
	display: inline-block !important;
	width: auto !important;
	color: var(--bg-color) !important;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

h2 > span.md-plain {
	color: var(--bg-color) !important;
	margin: 0;
	padding: 0;
}

h2 > span.md-plain:after, h2 > span.md-plain:before {
	box-sizing: content-box !important;
}

h1 {font-size: calc(var(--font-size) * 2.75);}
h2 {font-size: calc(var(--font-size) * 1.75);}
h3 {font-size: calc(var(--font-size) * 1.5);}
h4 {font-size: calc(var(--font-size) * 1.25);}
h5 {font-size: calc(var(--font-size) * 1.1);}
h6 {font-size: calc(var(--font-size) * 1);}

h1 {
	--text-color: var(--theme-color);
}

ul, ol {
	margin: 0;
}

li {
	margin: calc(var(--font-size) * 2/5) 0;
}

code, pre, .code, .md-fences {
	font-family: var(--monospace-font);
}

a {
	text-decoration: underline;
	color: var(--body-color);
	transition-duration: .25s;
}

a:hover {
	opacity: 60%;
}

/*	==============================================
	2: Layout
	============================================== */

/* 2.1: Document */

.content, #write {
	width: calc(100% - 60px);
	max-width: var(--main-content-max-width);
	margin: auto;
	margin-top: 80px;
	padding: 0;
}

.content > * , #write > * {
	margin: calc(var(--font-size) * 3/4) 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: calc(var(--font-size) * 4/5) !important;
	margin-bottom: calc(var(--font-size) * 3/4) !important;
}

@media only screen and (max-width: 54rem) {
	.content, #write {
		width: calc(100% - 40px);
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	:root {
		--font-size: calc(var(--font-size-orig) * 4/5)
	}
}

/* 2.2: Tables */

table {
	border-collapse: collapse;
}

table th, table td {
	padding: calc(var(--font-size) * 1/3);
	border: 1px solid var(--text-color);
}

thead {
	border-bottom: 2px solid var(--text-color);
}

table th {
	font-weight: bold;
	background-color: var(--text-color);
	font-family: var(--ui-font);
}

table th, table th * {
	color: var(--bg-color);
}

/* 2.3: Code */

pre, pre.md-meta-block {
	padding: 0.5rem;
	overflow-x: auto;
	background-color: var(--code-background-color) !important;
}

/* 2.4: Blockquotes */

blockquote {padding: 0.5rem;}
blockquote p {margin: 0;}

/*	==============================================
	3: Colors
	============================================== */

html {
	background-color: var(--bg-color);
}

* {
	color: var(--text-color);
}

#typora-sidebar, .context-menu {
	background-color: var(--context-color);
}

code, pre, .code, .md-fences {
	background-color: var(--code-background-color);
}
.file-list-item.active {
	background-color: var(--code-background-color);
}

/* 3.2: Other Colors */
blockquote {border-left: calc(var(--body-size) * 1/5) solid var(--theme-color);}

#typora-sidebar, .context-menu {
	background-color: var(--softer-bg-color);
	border-right: 2px solid var(--text-color);
}

.context-menu {
	border: 2px solid var(--text-color);
}
